<%= stylesheet_link_tag "application" %>
<footer class="footer">
	<div class="container">
		<p class="text-muted"><ul class="nav navbar-nav">
			<li><%= link_to "Home", "/", class: "footer-links" %></li>
			<li><%= link_to "Trust & Safety", "/", class: "footer-links" %></li>
			<li><%= link_to "Tell your Friends!", "/", class: "footer-links" %></li>
			<li><%= link_to "Our Team", "/about", class: "footer-links" %></li>
			<li><%= link_to "Contact Us",  "/", class: "footer-links" %></li>
		</ul>
	</div>
</footer>