<%= stylesheet_link_tag "users" %>
  <div id="main-container" class="container">
    <div class="row">
      <div id="sidebar" class="col-xs-3">
      <!-- sidebar content -->
    </div>
      <div id="content" class="col-xs-9">
        <div class="form-container">
        
            <h2 class="form-signin-heading">Login </h2>
            <%= form_for @user do |f| %> 
        
            <%= f.email_field :email, placeholder: 'Email', class: "users-new-input", required: true %></br>
            <%= f.text_field :first_name, placeholder: 'First Name', class: "users-new-input", required: true %></br>
            <%= f.text_field :last_name, placeholder: 'Last Name', class: "users-new-input", required: true %><br>
            <%= f.password_field :password, placeholder: 'Password', class: "users-new-input", required: true %><br>
            <%= f.file_field :avatar, class: "users-new-input" %></br>
            <small>Tick box if you are a performer</small><%= f.check_box(:performer) %></br>
            <%= f.submit "Signup!", class: "ghost-button" %>
              <% end %>
             </div>
        </div>
      </div>
    </div>
</div> 
