<%= stylesheet_link_tag "users" %>
  <div id="main-container" class="container">
    <div class="row">

      <div id="content" class="col-md-12">
        <div class="form-container">
        
            <h2 class="form-signin-heading">Sign Up Now!</h2>
            <%= form_for @user do |f| %> 
            <div class="form-group">
              <%= f.email_field :email, placeholder: 'Email', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :first_name, placeholder: 'First Name', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :last_name, placeholder: 'Last Name', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, placeholder: 'Password', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.file_field :avatar, class: "form-control" %>
              <p class="help-block">Upload a user avatar!</p>
            </div>
            <div class="form-group">
              <h2>Want to be a performer? <%= f.check_box(:performer) %></h2> 
              <p class="helper-block">Tick the box once you've finished this form to go to the performer sign up page!
              </p>
            </div>
            <%= f.submit "Signup!", class: "ghost-button" %>
              <% end %>
             </div>
        </div>
      </div>
    </div>
</div> 
