<div class="profile container">
  <div class="row">
    <div class="col-md-10 col-xs-10">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-md-4 text-center">
                <%= image_tag @user.avatar.url(:thumb) %>
            </div>
            <div class="col-xs-12 col-md-4">
                <h2>Welcome, <%= @user.first_name %></h2>
                <strong>Member since: </strong><%= @user.created_at.to_s(:due_date) %>
            </div>
        <!-- col -->
        <!-- col -->
            <!--/col-->
            <div class="col-xs-12 col-md-4">
                  <%= button_to "Edit", edit_user_path, method: :get, class: "btn btn-warning" %>
                  <%= button_to "Delete", user_path, method: :delete, class: "btn btn-danger"  %>
            </div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
    <!--/col--> 
  </div>
  <!--/row--> 
</div>
<!--/container-->










