<div class="container">
<h1 class="edit-performer-header">Edit Your Profile</h1>

<div class="col-md-8">

      <%= form_for @performer do |f| %>
      <div class="form-group">
        <%= f.text_field :performer_name, placeholder: "Your name or group name", class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.email_field :performer_email, placeholder: "Your business email address", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.text_field :city, placeholder: "Where are you?", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.text_field :subcategory, placeholder: "Your act type",  class: "form-control" %>
      </div>
        
      <div class="form-group">
        <%= f.text_area :description, placeholder: "Describe your act for us! Min. 30, max. 500 characters.", required: true, cols: 100, rows: 4 %>
      </div>
        
    <div class="form-group">
      <%= f.select :category_id, [['Musical Act', 1], ['Comedy Act', 2], ['Circus Act', 3]] %>

      <%= f.select :hourly_rate, [['$1-25 per hour', '$1-25 per hour'], ['$26-50 per hour', '$26-50 per hour'], ['$51-75 per hour', '$51-75 per hour'], ['$76-100 per hour', '$76-100 per hour'], ['$101-150 per hour', '$101-150 per hour']] %>
    </div>

      <div class="form-group">
        <%= f.file_field :perfavatar, class: "form-control" %>
        <p class="help-block">Upload your performer avatar.</p>
      </div>
      <div class="form-group">
        <%= f.file_field :image1, class: "form-control" %>
        <p class="help-block">Upload your first user image.</p>
      </div>
      <div class="form-group">
        <%= f.file_field :image2, class: "form-control" %>
        <p class="help-block">Upload your second user image.</p>
      </div>  
      <div class="form-group">
        <%= f.file_field :image3, class: "form-control" %>
        <p class="help-block">Upload your third user image.</p>
      </div>
        
      <div class="form-group">
        <%= f.text_field :video1, placeholder: "Enter a URL link from YouTube", class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= f.text_field :video2, placeholder: "Enter a URL link from YouTube", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_field :video3, placeholder: "Enter a URL link from YouTube", class: "form-control" %>
      </div>  


    <%= f.submit "Edit", class: "ghost-button" %>

</div>
<% end %>
</div>