<div class="container">
	<h1>View All Performers</h1>
	<div>
		<select name="category_id" id="category_id">
			 <option value="1">Musical Acts</option>
			 <option value="2">Comedy Acts</option>
			 <option value="3">Circus Acts</option>
		</select>
	</div>

	<% @performers.each do |performer| %>
		<div>
			<%= image_tag(performer.perfavatar) %>
		</div>
		<div>
			<h2> <%= performer.performer_name %></h2>
			<p>
			City: <%= performer.city %>
			<br>
			Category: 

			<% if performer.category_id == 1 %>
				<%= "Musical Act" %>
			<% elsif performer.category_id == 2 %>
				<%= "Comedy Act" %>
			<% else %>
				<%= "Circus Act" %>
			<% end %>

			<br>
			Subcategory: <%= performer.subcategory %>
			<br>
			Price: <%= performer.hourly_rate %>
			<br>
			Description: <%= performer.description %></p>

			<% if current_user %>
				<strong>Email:</strong> <%= performer.performer_email %>
		    <% end %>

			<%= button_to "Performer profile", performer_path(performer.id), method: "get" %>
		</div>

	<% end %>
</div>
