<div class="container">

	<div class='row'>
		<div class='col-md-2'></div>
		<h3 class='col-md-8' align='center'>Options to bring every event to life!</h3>
		<div class='col-md-2'></div>
	</div><br>

	<% @performers.each do |performer| %>
	<div class='row panel panel-default'>
		<div class='col-sm-10 col-md-4'>
			<%= image_tag(performer.perfavatar, id: "cat_show_avatar") %>
		</div>
		<div class='col-sm-10 col-md-8'>
			<h3> <%= link_to performer.performer_name, performer_path(performer.slug) %></h3>
			<strong>City:</strong> <%= performer.city %><br>
			<strong>Category:</strong>

			<% if performer.category_id == 1 %>
				<%= "Musical Act" %>
			<% elsif performer.category_id == 2 %>
				<%= "Comedy Act" %>
			<% else %>
				<%= "Circus Act" %>
			<% end %><br>

			<strong>Subcategory:</strong> <%= performer.subcategory %><br>
			<strong>Price:</strong> <%= performer.hourly_rate %><br>
			<strong>Description:</strong> <%= performer.description %><br>
			<% if current_user %>
				<strong>Performers Contact: </strong><%= performer.performer_email %><br>
			<% else %>
				<strong><%= link_to "Login now to contact this performer!", "/sessions/new" %></strong>
				<br>
				<br>
			<% end %>
			
		</div>
	</div>
	<% end %>

</div><br>
