<div class="container">
	<h1>View All Performers</h1>

	<% @performers.each do |performer| %>
	<div class='row panel panel-default'>
		<div class='col-sm-10 col-md-4'>
			<%= image_tag(performer.perfavatar, class: "avatar") %>
		</div>
		<div class='col-sm-10 col-md-8'>
			<h2> <%= performer.performer_name %></h2>
			<strong>City:</strong> <%= performer.city %><br>
			<strong>Category:</strong>

			<% if performer.category_id == 1 %>
				<%= "Musical Act" %>
			<% elsif performer.category_id == 2 %>
				<%= "Comedy Act" %>
			<% else %>
				<%= "Circus Act" %>
			<% end %><br>

			<strong>Subcategory:</strong> <%= performer.subcategory %><br>
			<strong>Price:</strong> <%= performer.hourly_rate %><br>
			<strong>Description:</strong> <%= performer.description %><br>
			<% if current_user %>
				<strong>Performers Contact: </strong><%= performer.performer_email %><br>
			<% else %>
				<%= link_to "Login now to contact this performer!", "/sessions/new" %>
			<% end %>

			<%= button_to "Performer profile", performer_path(performer.id), method: "get", class: "btn btn-primary" %>
		</div>
	</div>
	<% end %>

</div><br>
