<%= stylesheet_link_tag "users" %>
 <div id="main-container" class="container">
  	<div class="row">
    	<div class="col-xs-3">
			<h2 class="make-some-money">Sign Up Now</h2>
			<p>	Are you an amazing juggler? Do you make all of your friends laugh at parties? Put those talents to use! Sign up as a performer on Encore and you can connect with individuals and organizations that will pay you for your services.<p>
			<p><strong>Here's how it works:</strong> Fill out the form and upload media so that our users can see what you can do. When a user contacts you, you'll work with them to arrange the details. Good luck! </p>
    	</div>

 		<div id="content" class="col-xs-9 newperformercontent">
			<h1 class="make-some-money">Become an Encore performer!</h1>	
   	
			<%= form_for @performer do |f| %>
			<div class="form-group">
				<%= f.text_field :performer_name, placeholder: "Your name or group name", class: "form-control", required: true %>
			</div>
		
			<div class="form-group">
				<%= f.email_field :performer_email, placeholder: "Your business email address", class: "form-control", required: true %>
			</div>
			
			<div class="form-group">
				<%= f.text_field :city, placeholder: "Where are you?", class: "form-control", required: true %>
			</div>
			
			<div class="form-group">
				<%= f.text_field :subcategory, placeholder: "Your act type",  class: "form-control", required: true %>
			</div>
				
			<div class="form-group">
				<%= f.text_area :description, placeholder: "Describe your act for us! Min. 30, max. 500 characters.", required: true, cols: 100, rows: 4 %>
			</div>
				
		<div class="form-group">
			<%= f.select :category_id, [['Musical Act', 1], ['Comedy Act', 2], ['Circus Act', 3]], required: true %>

			<%= f.select :hourly_rate, [['$1-25 per hour', '$1-25 per hour'], ['$26-50 per hour', '$26-50 per hour'], ['$51-75 per hour', '$51-75 per hour'], ['$76-100 per hour', '$76-100 per hour'], ['$101-150 per hour', '$101-150 per hour']], required: true %>
		</div>

			<div class="form-group">
				<%= f.file_field :perfavatar, class: "form-control" %>
				<p class="help-block">Upload your performer avatar.</p>
			</div>
			<div class="form-group">
				<%= f.file_field :image1, class: "form-control" %>
				<p class="help-block">Upload your first user image.</p>
			</div>
			<div class="form-group">
				<%= f.file_field :image2, class: "form-control" %>
				<p class="help-block">Upload your second user image.</p>
			</div>	
			<div class="form-group">
				<%= f.file_field :image3, class: "form-control" %>
				<p class="help-block">Upload your third user image.</p>
			</div>
				

				
			 

			<div class="form-group">
				<%= f.text_field :video1, placeholder: "Enter a URL link from YouTube", class: "form-control" %>
			</div>	
			<div class="form-group">
				<%= f.text_field :video2, placeholder: "Enter a URL link from YouTube", class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.text_field :video3, placeholder: "Enter a URL link from YouTube", class: "form-control" %>
			</div>	
		

		<%= f.submit "Sign Up Your Act!", class: "ghost-button" %>

		<% end %>
	
   </div>
</div>
</div>
</div>