<div class="container">


	<div class='row'>
		<div class='col-md-1'></div>
		<div class='col-md-10'>
		<h3>Browse All <%= @category.category %>s! </h3>
		<h4>Find a performer that will truly bring your event to life!</h4>
		</div>
		<div class='col-md-1'></div>
	</div><br>

	<% @performer.each do |performer| %>
		<div class="row panel panel-default">
			<div class='col-sm-10 col-md-3'>
				<%= image_tag(performer.perfavatar, id: "cat_show_avatar") %>
			</div>
			<div class='col-sm-10 col-md-9'>
				<h4><%= performer.performer_name %></h4>
				<strong><%= performer.subcategory %></strong><br>
				<%= performer.description %><br>
				<strong><%= performer.hourly_rate %></strong>
				<%= button_to "View Full Profile", performer_path(performer.id), method: "get", class: "btn btn-primary" %>
			</div>

		</div>
	<% end %>	

</div>
